@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #000d2b;
    color: #fff;
}

h1 {
    font-size: 1.25rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.938rem;
    margin-bottom: 2rem;
}

h3 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Estilos Classificação */
.formulario {
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

select {
    padding: 0.31rem;
    border-radius: 0.31rem;
    outline: none;
}

.siglas {
    text-align: center;
    font-size: 0.75rem;
    margin-bottom: 3rem;
}

.equipes-classificacao {
    display: flex;
    align-items: center;
}

.imagem-classificacao {
    width: 3.1rem;
}

/* Estilos das tabelas de jogos */
table {
    width: 70%;
    background: #020616;
    color: #0f0d0d;
    border-radius: 0.5rem;
    margin-inline: auto;
    margin-block: 1rem;
}

table tr td {
    text-align: center;
}

table th {
    font-size: 0.563rem;
    color: #fff;
}

table td {
    font-size: 0.37rem;
    color: #fff;
}

table tr td, table tr th {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
}

table tr:last-child td {
    border: 0;
}

.centralizar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.container-equipe {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alinhamento-esquerda {
    text-align: left;
}

.alinhamento-em-linha {
    display: flex;
    align-items: center;
    font-size: 0.37rem;
}

.imagem-pequena {
    width: 1.87rem;
    display: flex;
    justify-content: center;
}

.container-partida {
    display: block;
    width: 80%;
    justify-content: space-between;
}

.placar {
    display: block;
    justify-content: end;
    width: 2.1rem;
    height: 1.8rem;
    font-size: 0.43rem;
    font-weight: bold;
    border-radius: 20%;
    line-height: 1.8rem;
    background-color: #000d2b;
    color: #fff;
    border: none;
}

input[type=number] {
    text-align: right;
    font-weight: bold;
}

.imagem-classificacao {
    width: 1.5rem;
}

/* formatação das quartas */
.divQuartas, .divSemifinais, .divFinais {
    width: 90%;
    margin-inline: auto;
    margin-block: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
}

h3, h4, h5, h6 {
    text-align: center;
}

.divQuartas > div, .divSemifinais > div, .divFinais > div {
    display: block;
    width: 80%;
    justify-content: center;
    margin: 0.6rem auto;
    background: #020616;
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}

.jogo {
    background: #000d2b;
    border-radius: 1.1rem; 
    padding-block: 0.3rem;
    margin-block: 1rem;
}

.dia {
    background: #000d2b;
    color: #fff;
    border-radius: 1.1rem;
    padding: 0.3rem;
    font-size: 0.75rem;
}

.hora {
    background: #000d2b;
    color: #fff;
    border-radius: 1.1rem;
    padding: 0.3rem;
    font-size: 0.75rem;
}

/* Tablet */
@media screen and (min-width: 380px) and (max-width: 768px){
    h1 {
        font-size: 1.25rem;
    }
    
    h2 {
        font-size: 1.1rem;
    }
    
    h3 {
        font-size: 0.9rem;
    }

    .formulario {
        font-size: 0.9rem;
    }
    
    select {
        padding: 0.3rem;
    }
    
    .siglas {
        padding: 0.6rem;
        font-size: 0.8rem;
    }

    table {
        width: 80%;
    }
    
    table th {
        font-size: 0.6rem;
    }
    
    table td {
        font-size: 0.4rem;
    }

    .container-equipe {
        font-size: 0.75rem;
        width: 100%;
    }
    
    .imagem-pequena {
        width: 3.1rem;
    }

    .imagem-classificacao {
        width: 3.75rem;
    }
    
    .container-placar {
        width: 1.8rem;
        margin-right: 0.6rem;
    }
}

/* Desktop */
@media screen and (min-width: 769px) {
    h1 {
        font-size: 2.1rem;
    }
    
    h2 {
        font-size: 1.6rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }

    .formulario {
        font-size: 1.3rem;
    }
    
    select {
        padding: 0.3rem;
    }
    
    .siglas {
        padding: 0.6rem;
        font-size: 0.8rem;
    }

    table {
        width: 90%;
    }
    
    table th {
        font-size: 1.1rem;
    }
    
    table td {
        font-size: 1rem;
    }

    .container-equipe {
        font-size: 0.8rem;
        width: 100%;
    }
    
    .imagem-pequena {
        width: 3.75rem;
    }

    .imagem-classificacao {
        width: 4.3rem;
    }

    .container-placar {
        margin-right: 0.6rem;
    }
    .placar {
        font-size: 0.75rem;
    }
    .alinhamento-em-linha {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
    }
}


